USE [master]
GO
/****** Object:  Database [ThuVienSoTNUT]    Script Date: 6/21/2026 7:06:30 PM ******/
CREATE DATABASE [ThuVienSoTNUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThuVienSoTNUT', FILENAME = N'D:\PT_TKHT\WebThuVien\ThuVienSoTNUT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThuVienSoTNUT_log', FILENAME = N'D:\PT_TKHT\WebThuVien\ThuVienSoTNUT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThuVienSoTNUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThuVienSoTNUT]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/21/2026 7:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ImageURL] [varchar](500) NULL,
	[TotalQuantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](255) NOT NULL,
	[Publisher] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PublishYear] [int] NULL,
	[DocumentURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRequests]    Script Date: 6/21/2026 7:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BookID] [int] NULL,
	[RequestType] [varchar](20) NOT NULL,
	[Status] [varchar](20) NULL,
	[RequestDate] [datetime] NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/21/2026 7:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[StudentCode] [varchar](20) NULL,
	[Role] [varchar](20) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[AvatarURL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [ImageURL], [TotalQuantity], [AvailableQuantity], [Category], [Author], [Publisher], [Description], [PublishYear], [DocumentURL]) VALUES (2, N'Giáo Trình  LÝ THUYẾT XÁC SUẤT VÀ  THỐNG KÊ ỨNG DỤNG  (Dành cho chương trình chất lượng cao)', N'/uploads/1781752440187.webp', 15, 15, N'Công nghệ thông tin', N'Nguyễn Huy Hoàng (Chủ biên), Nguyễn Trung Đông, Nguyễn Văn Phong, Dương Thị Phương Liên, Nguyễn Tuấn Duy, Võ Thị Bích Khuê', N'NXB TRƯỜNG ĐẠI HỌC TÀI CHÍNH - MARKETING BỘ MÔN TOÁN – THỐNG KÊ ', N'Chưa có mô tả', 2021, N'/uploads/1781751999715.pdf')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowRequests] ON 

INSERT [dbo].[BorrowRequests] ([RequestID], [UserID], [BookID], [RequestType], [Status], [RequestDate], [ActionDate]) VALUES (1, 6, 1, N'Borrow', N'Approved', CAST(N'2026-05-30T19:38:35.623' AS DateTime), CAST(N'2026-05-30T19:40:23.363' AS DateTime))
INSERT [dbo].[BorrowRequests] ([RequestID], [UserID], [BookID], [RequestType], [Status], [RequestDate], [ActionDate]) VALUES (2, 6, 1, N'Return', N'Approved', CAST(N'2026-05-30T19:40:56.780' AS DateTime), CAST(N'2026-05-30T19:41:14.603' AS DateTime))
INSERT [dbo].[BorrowRequests] ([RequestID], [UserID], [BookID], [RequestType], [Status], [RequestDate], [ActionDate]) VALUES (3, 6, 1, N'Borrow', N'Rejected', CAST(N'2026-06-03T23:21:14.850' AS DateTime), CAST(N'2026-06-18T11:01:55.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[BorrowRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [StudentCode], [Role], [IsLocked], [AvatarURL]) VALUES (1, N'admin', N'admin123', N'Quản Trị Viên Thư Viện', NULL, N'Admin', 0, N'/uploads/default-avatar.png')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [StudentCode], [Role], [IsLocked], [AvatarURL]) VALUES (4, N'K235480106019', N'123456', N'Đỗ Ngọc Hải', N'K235480106019', N'Student', 0, N'/uploads/default-avatar.png')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [StudentCode], [Role], [IsLocked], [AvatarURL]) VALUES (6, N'SinhVien', N'123456', N'Đỗ Ngọc Hải', N'K235480106019', N'Student', 0, N'/uploads/default-avatar.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E28D77CC]    Script Date: 6/21/2026 7:06:31 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (N'Chưa phân loại') FOR [Category]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (N'Chưa rõ') FOR [Author]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (N'Chưa rõ') FOR [Publisher]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (N'Chưa có mô tả') FOR [Description]
GO
ALTER TABLE [dbo].[BorrowRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BorrowRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('/uploads/default-avatar.png') FOR [AvatarURL]
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD CHECK  (([RequestType]='Return' OR [RequestType]='Borrow'))
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Student' OR [Role]='Admin'))
GO
USE [master]
GO
